// Paleta 1
$azul01: #f5f5f5;
$azul02: #e7e7de;
$azul03: #008891;
$azul04: #00587a;
$azul05: #0f3057;

// Paleta 2
$azul11: #031a6b;
$azul12: #033860;
$azul13: #087CA7;
$azul14: #004385;
$azul15: #05b2dc;

// Paleta 3
$azul21: #06224a;
$azul22: #0245a3;
$azul23: #8fbaf3;
$azul24: #bdf1f6;
$azul25: #FFFFFF;

// Paleta 4
$azul31: #1a2c5b;
$azul32: #3e4e88;
$azul33: #7971ea;
$azul34: #b8dff0;
$azul35: #FFFFFF;

// Paleta grises
$gris01: #959799;
$gris02: #414347;