* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

@import "colores";

h1 {
  color: $azul05;
  margin-top: .5rem;
}

h2 {
  color: $azul05;
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

p,
i {
  color: $azul12;
}

body {
  background-color: $azul23;
}

.gridAreas {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 70% 30%;
  height: 120px;
  grid-template-areas:
    "header header"
    "section aside"
    "footer footer";
  grid-gap: 5px 5px;
}

.borderAndPadding {
  border: solid 1px black;
  padding: 10px;
}

/*----------Estilos para HEADER----------*/

header {
  grid-area: header;
  font-family: "Anton", sans-serif;
  align-items: center;
  margin: 0px 10px 10px 10px;
}

.centradoVertical {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-block;
  margin: 10px 10px 10px 10px;
 }

nav div p {
  color: #f5f5f5;
}

.navbar--padding {
  padding: 0px 15px 0px 15px;
}

/*----------Formato del NavBar de Bootstrap----------*/

.collapse {
  background-color: $azul05;
}

.navbar-nav {
  background-color: $azul05;
}

.navbar-toggler {
  background-color: $azul04;
}

.navbar-toggler-icon {
  background-color: $azul04;
}

.nav-link {
  background-color: $azul05;
  color: $azul01 !important;
  margin: 15px;
  font-size: 20px;
}

.active {
  background-color: $azul22;
}

.bg-light {
  background-color: $azul05 !important;
}

ul li a:hover {
  background-color: $azul34;
}

/*----------Formatos para los botones de redes sociales----------*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
  border-style: none;
  border-radius: 0;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*----------Estilos para SECTION usando BEM----------*/

section {
  grid-area: section;
  background-color: $azul05;
  margin: 10px;
}

.section__article--background {
  background-color: $azul23;
}

.section__article--border {
  border: solid 3px black;
}

.section__article--padding {
  padding: 15px;
}

.section__article--margin {
  margin: 15px;
}

.section__article--interlineado {
  line-height: 2;
}

.section__h2--mayusculas {
  text-transform: uppercase;
}

.section__h2--centrar {
  text-align: center;
}

section a {
  text-decoration: none;
  color: #0f3057;
}
.img_size {
  width: 100%;
}
.img_size2 {
  width: 50%;
}

.articulos {
  font-family: "Poppins", sans-serif;
}

.espacioPalabra {
  word-spacing: 2px;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion-body {
  background-color: $azul02;
}

/*----------Estilos para ASIDE----------*/

aside {
  grid-area: aside;
  background-color: $azul05;
  color: $azul01;
  border: solid 3px black;
  padding: 10px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}

aside {
  h2 {
    color: $azul02;
  }
}

aside a {
  text-decoration: none;
  color: $azul01;
}
.aside__background--animation:hover {
  background: rgb(238, 238, 245);
  background: linear-gradient(
    90deg,
    rgba(238, 238, 245, 1) 0%,
    rgba(184, 223, 240, 1) 100%
  );
  color: $azul32;
}

/*----------Estilos para FOOTER*----------*/

footer {
  grid-area: footer;
  margin: 10px;
  background-color: $azul21;
}

footer{
  div{
    width: 50%;
  }
}

.footerNav {
  display: block;
  padding: .5rem 1rem;
}

/*----------Estilos otros----------*/


$sizes: 40px, 60px, 80px;

@each $size in $sizes {
  .icon-#{$size} {
    font-size: $size;
    height: $size * 2;
    width: $size * 5;
    background-color: $azul04;
    margin: 10px;
  }
}

.swingHorizontal {
  color: hsl(222, 25%, 14%);
}

.swingHorizontal:hover {
  animation: swingHorizontal 1s ease;
  animation-iteration-count: 1;
}

@keyframes swingHorizontal {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}


/*----------Pagina FSD----------*/

.fsd {
  background-color: $azul01;
}

.osrdenHorizontal {
  display: inline-block;
}

.ordenHorizontal li {
  display: inline-block;
}

.ordenHorizontal img {
  width: 100px;
}

.fsd {
  margin: 25px 0px 10px 0px;
}

.fsd {
  h2, h3{
    background-color: $azul21;
    color: $azul01; 
    padding: 0.5em;
  }
}

/*----------Pagina Programming----------*/

.btn-link{
  color: $azul03;
}

.programadores{
  display: flex;
    div {
     p {
       color: white;}
       padding: 5px;
      }
}


.programadoresTitulo {
  color: white;
}

.redondear {
  border-radius: 50%;
}

.text2{
  p{
  color: white;
  font-size: 20px;
  top: 50%;
  left: 50%;
  text-align: center;
  }
}

/*----------Pagina Products----------*/

.container1 {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container1:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*----------Pagina Contacto----------*/

